page-about-colmena{
  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    background-color: transparent;
  }

  .card-md{
    height: 95%;
    p{
      font-size: 1.6rem;
      color: white;
      margin-bottom: 25px;
    }      
  }

  .card-title {
    position: absolute;
    top: 15%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 35%;
    width: 100%;
    color: #fff;
    .s-icon{
      height: 50px;
      width: 50px;
      display: inline;
    }
  }
  .desenfoque{
    filter: blur(5px);
  }
}
}
